<!DOCTYPE html>

<title>Champ index</title>

{% block body %}
    <h1>Champ index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for champ in champs %}
            <tr>
                <td>{{ champ.id }}</td>
                <td>{{ champ.date ? champ.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ champ.comment }}</td>
                <td>
                    <a href="{{ path('champ_show', {'id': champ.id}) }}">show</a>
                    <a href="{{ path('champ_edit', {'id': champ.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('champ_new') }}">Create new</a>
{% endblock %}
