<!DOCTYPE html>

<title>Player index</title>

{% block body %}
    <h1>Player index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InGameId</th>
                <th>Characteristic</th>
                <th>AbsentDays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.inGameId }}</td>
                <td>{{ player.characteristic }}</td>
                <td>{{ player.absentDays }}</td>
                <td>
                    <a href="{{ path('player_show', {'id': player.id}) }}">show</a>
                    <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('player_new') }}">Create new</a>
{% endblock %}
