<!DOCTYPE html>

<title>GuildChamp index</title>

{% block body %}
    <h1>GuildChamp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Place</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guild_champ in guild_champs %}
            <tr>
                <td>{{ guild_champ.id }}</td>
                <td>{{ guild_champ.place }}</td>
                <td>{{ guild_champ.comment }}</td>
                <td>
                    <a href="{{ path('guild_champ_show', {'id': guild_champ.id}) }}">show</a>
                    <a href="{{ path('guild_champ_edit', {'id': guild_champ.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guild_champ_new') }}">Create new</a>
{% endblock %}
