<!DOCTYPE html>

<title>Guild index</title>

{% block body %}
    <h1>Guild index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ShortName</th>
                <th>Server</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guild in guilds %}
            <tr>
                <td>{{ guild.id }}</td>
                <td>{{ guild.name }}</td>
                <td>{{ guild.shortName }}</td>
                <td>{{ guild.server }}</td>
                <td>
                    <a href="{{ path('guild_show', {'id': guild.id}) }}">show</a>
                    <a href="{{ path('guild_edit', {'id': guild.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guild_new') }}">Create new</a>
{% endblock %}
