<!DOCTYPE html>

<title>PlayerGuild index</title>

{% block body %}
    <h1>PlayerGuild index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player_guild in player_guilds %}
            <tr>
                <td>{{ player_guild.id }}</td>
                <td>{{ player_guild.date ? player_guild.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('player_guild_show', {'id': player_guild.id}) }}">show</a>
                    <a href="{{ path('player_guild_edit', {'id': player_guild.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('player_guild_new') }}">Create new</a>
{% endblock %}
