<!DOCTYPE html>

<title>PlayerGuild</title>

{% block body %}
    <h1>PlayerGuild</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player_guild.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ player_guild.date ? player_guild.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_guild_index') }}">back to list</a>

    <a href="{{ path('player_guild_edit', {'id': player_guild.id}) }}">edit</a>

    {{ include('player_guild/_delete_form.html.twig') }}
{% endblock %}
